@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ITrack<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></h1>
    <p class="lead">ITrack* tracks all of your company needs. We are the leading interface in the industry. Guaranteed <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></p>
</div>

<div class="row">
    <div class="col-md-2">
        <h3>Users Buttons</h3>
        <p>@Html.ActionLink("Create", "Create", "Users", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Index", "Index", "Users", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-2">
        <h3>Companies Buttons</h3>
        <p>@Html.ActionLink("Create", "Create", "Companies", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Index", "Index", "Companies", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-2">
        <h3>Inventories Buttons</h3>
        <p>@Html.ActionLink("Create", "Create", "Inventories", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Index", "Index", "Inventories", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-2">
        <h3>Tickets Buttons</h3>
        <p>@Html.ActionLink("Create", "Create", "Tickets", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Index", "Index", "Tickets", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-2">
        <h3>Trackers Buttons</h3>
        <p>@Html.ActionLink("Create", "Create", "Trackers", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Index", "Index", "Trackers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>